.dark-mode {
    background-color: #333;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}
.welcome-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.welcome-hover:hover{
    box-shadow: 0 0 10px 0 rgb(255, 255, 255);
}

.nav-hover:hover{
    box-shadow: 0 0 10px 0 rgb(255, 255, 255);
}
